@model FundTracker.Web.ViewModels.RecurringChangeListViewModel

@{
    ViewBag.Title = "Changes";
    Layout = "~/Views/_Layout.cshtml";
}

@section Header
{}

<h2>Changes on @Model.Date.ToString("dd MMM yyyy")</h2>
<table class="changes">
    <thead>
        <tr class="table-head">
            <td colspan="5">Deposits</td>
        </tr>        
        @if (!Model.RecurringChangeViewModels.Any(change => change.Amount < 0))
        {
            <tr><td colspan="5">No deposits on this day</td></tr>
        }
        else
        {
            <tr class="row-head">
                <td>Name</td>
                <td>Amount</td>
                <td class="extrenious">Applied since</td>
                <td class="extrenious">Repeat rule</td>
                <td>Stops change</td>
            </tr>
        }
    </thead>
    @foreach (var change in Model.RecurringChangeViewModels.Where(change => change.Amount > 0))
    {
        <tr data-changeid="@change.ChangeId">
            <td>@change.Name</td>
            <td>£@change.Amount</td>
            <td class="extrenious">@change.AppliedSince.ToString("dd MMM yyyy")</td>
            <td class="extrenious">@change.RuleType</td>
            <td><a href="@change.StopLinkDestination">@change.StopLinkText</a></td>
        </tr>
    }
</table>
<table class="changes">
    <thead>
        <tr class="table-head">
            <td colspan="5">Withdrawals</td>
        </tr>
        @if (!Model.RecurringChangeViewModels.Any(change => change.Amount < 0))
        {
            <tr><td colspan="5">No withdrawals on this day</td></tr>
        }
        else
        {
            <tr class="row-head">
                <td>Name</td>
                <td>Amount</td>
                <td class="extrenious">Applied since</td>
                <td class="extrenious">Repeat rule</td>
                <td>Stops change</td>
            </tr>
        }
    </thead>
    @foreach (var change in Model.RecurringChangeViewModels.Where(change => change.Amount < 0))
    {
        var invertedAmount = 0 - change.Amount;
        <tr>
            <td>@change.Name</td>
            <td>£@invertedAmount</td>
            <td class="extrenious">@change.AppliedSince.ToString("dd MMM yyyy")</td>
            <td class="extrenious">@change.RuleType</td>
            <td><a href="@change.StopLinkDestination">@change.StopLinkText</a></td>
        </tr>
    }
</table>