@model FundTracker.Web.ViewModels.WalletDatePickerViewModel

<div id="calendar">
    <strong class="month">@Model.SelectedDate.ToString("MMM")</strong>
    <div class="cl"></div>
    @foreach (var day in Model.DaysInPreviousMonth)
    {
        <a class="other-month">@day</a>
    }
    @foreach (var day in Model.DaysInCurrentMonth)
    {
        if (day == Model.SelectedDate.ToString("dd"))
        {
            <a class="current-month selected">@day</a>
            continue;
        }
        <a class="current-month" href="/Wallet/Display/?walletName=@Model.WalletName&date=@day-@Model.SelectedDate.ToString("MM")-@Model.SelectedDate.ToString("yy")">@day</a>
    }
    @foreach (var day in Model.DaysInNextMonth)
    {
        <a class="other-month">@day</a>
    }
</div>