@using System.Globalization
@model FundTracker.Web.ViewModels.RecurringAmountViewModel


<a href="/RecurringChange/Display?walletName=@Model.WalletName&date=@Model.Date"  class="recurring-amount @Model.RecurringType.ToLower()">
    <span>Total @Model.RecurringType.ToString(CultureInfo.InvariantCulture)s</span>: £<strong class="amount">@Model.PositiveTotal</strong>
</a>

<div class="recurring-amount limited @Model.RecurringType.ToLower()">
    £<strong class="amount">@Model.PositiveTotal</strong>
</div>
