@using System.Globalization
@model FundTracker.Web.ViewModels.RecurringAmountViewModel


<div class="recurring-amount @Model.RecurringType.ToLower()">
    <span>Total @Model.RecurringType.ToString(CultureInfo.InvariantCulture)s: £<strong class="amount">@Model.PositiveTotal</strong></span>
</div>

<div class="recurring-amount limited @Model.RecurringType.ToLower()">
    £<strong class="amount">@Model.PositiveTotal</strong>
</div>
