@using System.Globalization
@model FundTracker.Web.ViewModels.RecurringAmountViewModel


<div class="recurring-amount @Model.RecurringType.ToLower()">
    <a href="/RecurringChange/Display?walletName=@Model.WalletName&date=@Model.Date">Total @Model.RecurringType.ToString(CultureInfo.InvariantCulture)s</a>: £<strong class="amount">@Model.PositiveTotal</strong>
</div>

<div class="recurring-amount limited @Model.RecurringType.ToLower()">
    £<strong class="amount">@Model.PositiveTotal</strong>
</div>
